@{
    ViewBag.Title = "Home";
}

<style>
    /* Your CSS styles here */
</style>

<html class="index">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/css.css" /> 
</head>
<body>
    <div class="container text-center">
        <form asp-controller="COption" asp-action="Play" method="get">
            <button type="submit" class="btn btn-outline-danger btn-lg">Player vs Computer</button>
        </form>

        <form asp-controller="Home" asp-action="Instructions">
            <button type="submit" class="btn btn-outline-danger btn-lg">Instructions</button>
        </form>
    </div>

    @section scripts {
        <script>
            function openInstructions() {

                window.location.href = '@Url.Action("Instructions", "Home")';
            }
        </script>
    }
</body>
</html>